{% extends 'etl_app/base.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <style>#map { height: 500px; width: 100%; }</style>
{% endblock %}

{% block content %}
<h1>Mapa de Lugares Históricos</h1>
<div id="map"></div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script>
    var map = L.map('map').setView([-33.4489, -70.6693], 5);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

    // Usamos la API que ya tienes implementada en views.py
    fetch("{% url 'etl_app:api_lugares' %}")
        .then(res => res.json())
        .then(data => {
            data.lugares.forEach(l => {
                L.marker([l.latitud, l.longitud]).addTo(map).bindPopup(l.nombre);
            });
        });
</script>
{% endblock %}